body {
	margin: 0;
	background-color: var(--body-bg-color);
	padding: 25px;
	font-family: 'Merriweather Sans', sans-serif;
	--body-bg-color: #22212C;
	--text-color: #837E9F;
	--bg-cards: #302F3D;
	--bg-techs: #CB92B1;
}

.container {
	display: flex;
	justify-content: center;
	gap: 80px;
}

/* .img {
    filter: invert(57%) sepia(12%) saturate(661%) hue-rotate(209deg) brightness(86%) contrast(93%);
} */

.container .left {
	flex: 0 348px;
	/* border: 1px solid green; */
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.itens-layout {
	background-color: var(--bg-cards);
	border-radius: 20px;
	color: var(--text-color);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.container .left .picture {
	height: 292px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.container .left .picture img {
	width: 150px;
    border-radius: 50%;
	margin-bottom: 15px;

}

.container .left .picture p {
	margin: 0;
}

.container .left .picture .name {
	margin: 0;
	font-style: normal;
	font-weight: 700;
	font-size: 23px;
	line-height: 29px;
}

.container .left .picture .office {
	margin: 0;
	font-style: normal;
	font-weight: 300;
	font-size: 13px;
	line-height: 16px;
}


.container .left .basic {
	height: 348px;
	padding: 30px 40px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.container .left .basic figure {
	margin: 0;
}

.container .left .basic a {
	display: flex;
	align-items: center;
	gap: 20px;
	text-decoration: none;
	color: var(--text-color);
	line-height: 0;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;

	/* identical to box height */
}

.container .left .basic a img {
	width: 24px;

	filter: invert(57%) sepia(12%) saturate(661%) hue-rotate(209deg) brightness(86%) contrast(93%);
}


.container .left .tecnologia {
	height: 208px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

}

.container .left .tecnologia h2 {
	margin: 0;
	padding: 30px 20px 0px;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 25px;
}

.container .left .tecnologia .tec-itens {
	margin-top: 26px;
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	align-items: center;
	justify-content: center;

}

.container .left .tecnologia button {
	border-radius: 30px;
	background-color: var(--bg-techs);
	width: 86px;
	height: 24px;
	font-family: 'Merriweather Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 10px;
	line-height: 13px;
	text-align: center;
	text-transform: uppercase;

}

.container .left .experiencia {
	height: 349px;
}

.container .left .educacao {
	height: 352px;
}

.container .left .experiencia ul,
.educacao ul {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.container .left .experiencia h2,
.educacao h2 {
	margin: 0;
	padding: 30px 20px 0px;
	box-sizing: border-box;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 25px;
}

.container .left .experiencia ul .experience-title,
.educacao ul .educacao-title {
	margin: 0px;
	font-weight: bold;
	font-size: 18px;
}

.container .left .experiencia,
ul li p,
.educacao,
ul li p {
	font-weight: lighter;
	font-size: 12px;
	margin: 0;

}


.container .right {
	flex: 0 952px;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.myprojects {
	/* flex: 0 88px; */
	height: 88px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px;
	box-sizing: border-box;
}

.myprojects p {
	color: #837E9F;
	font-size: 20px;
	font-family: Merriweather Sans;
	font-weight: 700;
}

.myprojects a {
	color: #837E9F;
	font-size: 14px;
	font-family: Merriweather Sans;
	text-decoration: none;
}

.folder {
	flex: 0 186px;
	display: flex;
	gap: 30px;

}

.box1,
.box2 {
	height: 186px;
	padding: 30px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.box1 .folder-figure {
	margin: 0;
	display: flex;
	align-items: center;
	gap: 16px;

}

.box1 .folder-figurefigcaption {
	color: #837E9F;
	font-size: 16px;
	font-family: Merriweather Sans;
	font-weight: 700;
}

.box1 p {
	color: #837E9F;
	font-size: 14px;
	font-family: Merriweather Sans;
	line-height: 20px;
}


.box1 .rodape figure {
	margin: 0;
	display: flex;
	align-items: center;
	gap: 8px;
}

.box1 figure {
	filter: invert(57%) sepia(12%) saturate(661%) hue-rotate(209deg) brightness(86%) contrast(93%);
}


.box1 .rodape {
	display: flex;
	flex: 0;
	justify-content: space-between;
	color: #837E9F;
	font-size: 14px;
	font-family: Merriweather Sans;
}

.box1 .rodapefolder {
	gap: 16px;
}

.posts {
	height: 86px;
	display: flex;
	align-items: center;
	padding: 30px;
	box-sizing: border-box;
	color: #837E9F;
	font-size: 20px;
	font-family: Merriweather Sans;
	font-weight: 700;

}

.myinfo {
	height: 201px;
	display: flex;
	padding: 31px 0px 42px 30px;
	box-sizing: border-box;
	gap: 20px;
}

.myinfo .myinfo-info p {
	margin: 0;
}

.myinfo .myinfo-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.myinfo .myinfo-info .info-inicio {
	color: #837E9F;
	font-size: 18px;
	font-family: Merriweather Sans;
	font-weight: 700;
}

.myinfo .myinfo-info .info-pequeno {
	color: #837E9F;
	font-size: 14px;
	font-family: Merriweather Sans;
}
.image-fundo{
    border-radius: 50%;
}

.space-info {
	display: flex;
	flex-direction: column;
	gap: 11px;
}

.myinfo .myinfo-info .info-tag {
	display: flex;
	gap: 10px
}

.myinfo img {
	width: 128px;
}